  <h1>New Organization</h1>
  <form class="cf" ng-submit="submitForm()">
    <div class="half left cf">
      <input type="text" id="input-name" placeholder="Organization Name" ng-model="org.organizationName">
    </div>
      <div class="checkboxes">
      Food <input type="checkbox" class="resourceCheck" name="resource" ng-model="org.food"/> 
      Water <input type="checkbox"  class="resourceCheck" name="resource" ng-model="org.water"/>
      Clothing <input type="checkbox" class="resourceCheck" name="resource" ng-model="org.clothing"/>
    </div>
    <div class="half right cf">
      <textarea name="address" type="text" id="input-address" placeholder="Address" ng-model="org.organizationAddress"></textarea>
    </div>  
    <input type="submit" value="Register" id="input-submit">
  </form>