  <h1>New Organization</h1>
  <form class="cf" ng-submit="submitForm()">
    <div class="half left cf" id="names">
      <input type="text" id="input-name" placeholder="Organization Name" ng-model="org.organizationName">
      Food <input type="checkbox" class="resourceCheck" name="resource" value="Food"/> 
      Water <input type="checkbox"  class="resourceCheck" name="resource" value="Water"/>
      Clothing <input type="checkbox" class="resourceCheck" name="resource" value="Clothing"/>
    </div>
      
    <div class="half right cf">
      <textarea name="address" type="text" id="input-address" placeholder="Address" ng-model="org.organizationAddress"></textarea>
    </div>  
    <input type="submit" value="Register" id="input-submit">
  </form>