  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
    <style>
      #map{
        height: 50%;
        width:50%;
        margin: 0 auto;
        padding: 0;
      }
    </style>
    <script src="https://js.arcgis.com/3.18/"></script>
    <script>

    </script>
  </head>  



  <h1>New Organization</h1>
  <div id="map"></div>
  <br>
  Counties selected: {{$scope.arrayToString}}

  <form class="cf" ng-submit="submitForm()">
    <div class="full left cf">
      <input type="text" id="input-name" placeholder="Organization Name" ng-model="org.organizationName">
      <textarea name="address" type="text" id="input-address" placeholder="Address" ng-model="org.organizationAddress"></textarea>
    </div>
      <div class="checkboxes">
      <input type="checkbox" class="resourceCheck" name="resource" ng-model="org.food"/> Food
       <input type="checkbox"  class="resourceCheck" name="resource" ng-model="org.water"/> Water
       <input type="checkbox" class="resourceCheck" name="resource" ng-model="org.clothing"/> Clothing
    </div>
    <input type="submit" value="Register" id="input-submit">
  </form>